@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */

.keyword {
    color: #ff79c6; /* Example color for keywords */
  }
  
  .string {
    color: #f1fa8c; /* Example color for strings */
  }
  
  .comment {
    color: #6272a4; /* Example color for comments */
  }
  
  .number {
    color: #bd93f9; /* Example color for numbers */
  }
  


* {
  --sb-track-color: transparent;
  --sb-thumb-color: #c7d2fe;
  --sb-size: 3px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  background-clip: padding-box;
}

@supports not selector(::-webkit-scrollbar) {
  * {
      scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

