@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */

.keyword {
  color: #ff79c6; /* Example color for keywords */
}

.string {
  color: #f1fa8c; /* Example color for strings */
}

.comment {
  color: #6272a4; /* Example color for comments */
}

.number {
  color: #bd93f9; /* Example color for numbers */
}

* {
  --sb-track-color: transparent;
  --sb-thumb-color: #d4d4d4;
  --sb-size: 12px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
  height: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

input[type='color'] {
  border: none;
  width: 32px;
  height: 32px;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  color: transparent;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 100%;
}

.fade-in {
  @apply animate-fade;
}
.fade-in-left {
  @apply animate-fade-in-left;
}
.fade-in-right {
  @apply animate-fade-in-right;
}
.fade-in-up {
  @apply animate-fade-in-up;
}
.fade-in-down {
  @apply animate-fade-in-down;
}
.slide-in-left {
  @apply animate-slide-in-left;
}
.slide-in-right {
  @apply animate-slide-in-right;
}
.slide-in-top {
  @apply animate-slide-in-top;
}
.slide-in-bottom {
  @apply animate-slide-in-bottom;
}
.bounce {
  @apply animate-bounce;
}
